.button {
  cursor: pointer;
}

.blue,
.actionBlue {
  background: var(--blue);
  color: var(--blue);
}
.orange,
.actionOrange {
  background: var(--orange);
  color: var(--orange);
}
.purple,
.actionPurple {
  background: var(--purple);
  color: var(--purple);
}
.green,
.actionGreen {
  background: var(--green);
  color: var(--green);
}

.actionBlue {
  box-shadow: 0px 0px 15px rgba(86, 204, 242, 0.5);
}
.actionPurple {
  box-shadow: 0px 0px 15px rgba(155, 81, 224, 0.5);
}
.actionGreen {
  box-shadow: 0px 0px 15px rgba(39, 174, 96, 0.5);
}
.actionOrange {
  box-shadow: 0px 0px 15px rgba(242, 153, 74, 0.5);
}

.disabled {
  opacity: 0.5;
  color: #fff;
}

.action {
  width: 229px;
  height: 64px;

  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.rounded {
  background: none;
  border: 2px solid;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
