.button {
  cursor: pointer;

  background: var(--gray);
  color: var(--gray);
}

.loginBlue {
  cursor: pointer;
  color: var(--blue);
  border: 2px solid var(--blue);
  background: none;
}
.loginOrange {
  cursor: pointer;
  color: var(--orange);
  border: 2px solid var(--orange);
  background: none;
}
.loginGreen {
  cursor: pointer;
  color: var(--green);
  border: 2px solid var(--green);
  background: none;
}
.loginPurple {
  cursor: pointer;
  color: var(--purple);
  border: 2px solid var(--purple);
  background: none;
}

.gray {
  background: var(--gray);
  color: var(--gray);
}

.blue {
  &:hover {
    text-shadow: 0px 0px 15px rgba(86, 204, 242, 0.5);
    border-color: var(--blue);
    color: var(--blue);
  }
}
.actionBlue {
  background: var(--blue);
  color: var(--blue);
}

.orange {
  &:hover {
    text-shadow: 0px 0px 15px rgba(242, 153, 74, 0.5);
    border-color: var(--orange);
    color: var(--orange);
  }
}
.actionOrange {
  background: var(--orange);
  color: var(--orange);
}

.purple {
  &:hover {
    text-shadow: 0px 0px 15px rgba(155, 81, 224, 0.5);
    border-color: var(--purple);
    color: var(--purple);
  }
}
.actionPurple {
  background: var(--purple);
  color: var(--purple);
}

.green {
  &:hover {
    text-shadow: 0px 0px 15px rgba(39, 174, 96, 0.5);
    border-color: var(--green);
    color: var(--green);
  }
}
.actionGreen {
  background: var(--green);
  color: var(--green);
}

.actionBlue {
  box-shadow: 0px 0px 15px rgba(86, 204, 242, 0.5);

  &:hover {
    background: var(--blue-hover);
  }
}
.actionPurple {
  box-shadow: 0px 0px 15px rgba(155, 81, 224, 0.5);

  &:hover {
    background: var(--purple-hover);
  }
}
.actionGreen {
  box-shadow: 0px 0px 15px rgba(39, 174, 96, 0.5);

  &:hover {
    background: var(--green-hover);
  }
}
.actionOrange {
  box-shadow: 0px 0px 15px rgba(242, 153, 74, 0.5);

  &:hover {
    background: var(--orange-hover);
  }
}

.disabled {
  opacity: 0.5;
  color: #fff;
}

.action {
  width: 229px;
  height: 64px;

  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.rounded {
  background: none;
  border: 2px solid;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
