.fields {
  margin-top: 60px;

  display: grid;
  grid-template-columns: auto 70px auto 1fr auto;
  grid-template-rows: auto auto;
  row-gap: 45px;

  grid-template-areas:
    'username . email . coins'
    'message message message . .';

  @media screen and (max-width: 1100px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'username username username username username'
      'email email email email email'
      'coins coins coins coins coins'
      'message message message message message ';

    row-gap: 20px;

    .username,
    .email,
    .coins,
    .message {
      width: 100%;
    }
  }

  .username {
    grid-area: username;
  }
  .email {
    grid-area: email;
  }
  .coins {
    grid-area: coins;
  }
  .message {
    grid-area: message;
    width: 100%;
  }
}

.terms {
  margin-top: 20px;
  margin-bottom: 60px;

  @media screen and (max-width: 1100px) {
    margin-bottom: 40px;
  }

  display: flex;
  align-items: flex-start;

  input {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-color: none;
    margin: 0;

    width: 1.15em;
    height: 1.15em;
    border: 1px solid var(--gray);
    border-radius: 3px;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;

    &::before {
      content: '';
      width: 0.65em;
      height: 0.65em;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em var(--blue);

      transform-origin: bottom left;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }

    &:checked {
      &::before {
        transform: scale(1);
      }
    }
  }

  p {
    margin-left: 5px;

    max-width: 45%;
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    opacity: 0.6;

    @media screen and (max-width: 720px) {
      max-width: 80%;
    }

    span {
      cursor: pointer;
      color: var(--blue);
      text-decoration: underline;
    }
  }
}
