.tabs {
  width: 100%;

  background: linear-gradient(104.12deg, #282828 10.32%, #111111 85.25%);
  border-radius: 3px;

  margin-bottom: 50px;

  .wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1100px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .list {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 40px;

      @media screen and (max-width: 1100px) {
        margin-top: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }

      .item {
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #fff;
      }

      .active {
        color: var(--blue);
        text-shadow: 0px 0px 15px rgba(86, 204, 242, 0.5);
      }
    }
  }
}
