.logs {
  margin-top: 40px;
  list-style: none;

  .log {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #5f5f5f;

    display: grid;
    grid-template-columns: auto 30px 1fr auto;

    .time {
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      color: #fff;
    }

    .amount {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }

    .red {
      color: var(--red);
    }

    .green {
      color: var(--green);
    }
  }
}
