.logo {
  display: flex;
  flex-direction: column;
  width: 85px;
  height: 65px;

  .win {
    font-weight: 400;
    font-size: 44px;
    font-family: var(--rubik-glitch);
    text-shadow: 0px 0px 15px rgba(86, 204, 242, 0.5);
    text-transform: uppercase;
  }

  .blue {
    color: var(--blue);
  }
  .orange {
    color: var(--orange);
  }
  .purple {
    color: var(--purple);
  }
  .green {
    color: var(--green);
  }

  .gamer {
    margin-top: -7px;
    margin-left: 2px;
    font-family: var(--rubik);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.39em;
    text-transform: uppercase;
  }
}
