.links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;

  // @media screen and (max-width: 1100px) {
  //   display: none;
  // }

  svg {
    cursor: pointer;
  }

  .link {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .blue {
    color: var(--blue);
    text-shadow: 0px 0px 15px rgba(86, 204, 242, 0.5);
  }
  .orange {
    color: var(--orange);
    text-shadow: 0px 0px 15px rgba(242, 153, 74, 0.5);
  }
  .purple {
    color: var(--purple);
    text-shadow: 0px 0px 15px rgba(155, 81, 224, 0.5);
  }
  .green {
    color: var(--green);
    text-shadow: 0px 0px 15px rgba(39, 174, 96, 0.5);
  }
}
