.card {
  background: linear-gradient(179.37deg, #282828 -8.29%, #111111 87.58%),
    linear-gradient(179.37deg, #282828 -8.29%, #111111 87.58%);
  border-radius: 3px;
  z-index: 101;
  width: 100%;

  max-width: 248px;

  .imageContainer {
    width: 100%;
    position: relative;

    .star {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 30px;
      height: 30px;
      background: linear-gradient(104.12deg, #282828 10.32%, #111111 85.25%);
      border-radius: 50px;

      display: flex;
      align-items: center;
      justify-content: center;

      .starIcon {
        svg {
          margin-top: 2px;
          width: 45px;
          height: 45px;
        }
      }
      .orange {
        svg {
          g {
            path {
              fill: var(--orange);
            }
          }
        }
      }
      .green {
        svg {
          g {
            path {
              fill: var(--green);
            }
          }
        }
      }
      .gray {
        svg {
          g {
            path {
              fill: gray;
            }
          }
        }
      }
    }

    .image {
      width: 100%;
    }
  }

  .wrapper {
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;

    .top {
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .blockPuzzle {
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: var(--purple);
        text-shadow: 0px 0px 15px rgba(155, 81, 224, 0.5);
      }
      .ends {
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #fff;
        opacity: 0.6;
      }
    }

    .title {
      margin-top: 15px;
    }

    .bottom {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .price {
        display: flex;
        align-items: flex-start;
        gap: 5px;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #fff;
      }

      .button {
        width: 84px;
        height: 41px;
        font-weight: 600;
        // border-color: var(--purple);
        // color: var(--purple);
      }
    }
  }
}

.pvpCard {
  max-width: 315px;
}
