.avatars {
  margin-top: 60px;

  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 100px;

  @media screen and (max-width: 720px) {
    row-gap: 20px;
    gap: 10px;
  }
}

.premiun {
  margin-top: 60px;
}
