.createPvp {
  width: 100%;
  margin-bottom: 100px;

  .wrapper {
    margin-top: 60px;
    padding: 0 60px;

    @media screen and (max-width: 720px) {
      padding-left: 0;
      padding-right: 0;
    }

    .heading {
      padding: 40px;

      @media screen and (max-width: 720px) {
        padding: 40px 15px;
      }

      p {
        font-weight: 700;
        font-size: 64px;
        line-height: 76px;
        text-transform: uppercase;
        color: #fff;

        span {
          color: var(--purple);
        }

        @media screen and (max-width: 720px) {
          font-size: 48px;
          line-height: 57px;
        }
      }

      background: linear-gradient(104.12deg, #282828 10.32%, #111111 85.25%);
      border-radius: 3px;
    }

    .firstStep {
      margin-top: 100px;
      padding: 20px 40px;
      background: linear-gradient(104.12deg, #282828 10.32%, #111111 85.25%);
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: 720px) {
        margin-top: 60px;
        padding: 15px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }

      p {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: #fff;
        span {
          color: var(--purple);
        }
      }

      .search {
        width: 260px;
        height: 40px;
        border-radius: 10px;
        padding: 10px;
        opacity: 0.6;

        input {
          color: #fff;
          opacity: 1;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          font-family: var(--rubik);
        }

        @media screen and (max-width: 720px) {
          width: 100%;
        }
      }
    }

    .cards {
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;

      @media screen and (max-width: 720px) {
        margin-top: 30px;
        padding: 0 15px;
      }
    }

    .secondStep {
      margin-top: 100px;
      background: linear-gradient(104.12deg, #282828 10.32%, #111111 85.25%);
      border-radius: 3px;

      .form {
        padding-top: 30px;
        margin-top: 30px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        button {
          margin-top: 50px;
          width: 244px;
          height: 64px;

          @media screen and (max-width: 1100px) {
            margin-top: 40px;

            display: flex;
            justify-content: center;
            align-items: center;
            justify-self: center;
          }
        }

        .fields {
          display: grid;
          grid-template-columns: auto 70px auto 1fr auto;
          width: 100%;

          span {
            color: #939393;
            opacity: 1;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            font-family: var(--rubik);
            text-transform: uppercase;
          }

          @media screen and (max-width: 1100px) {
            grid-template-columns: 1fr;
            row-gap: 10px;

            .start,
            .end,
            .coins {
              width: 100%;
            }

            .coins {
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
}
